<!-- <div class="background"></div> -->

<div class="div-general">
    <div class="div-datetime">
        <p>Turing 22</p>
        <h1 class="date">{{this.dateTime.slice(0,10)}} </h1>
        <h2 class="time">{{this.dateTime.slice(11)}} </h2>
    </div>
    <div class="div-form">
        <mat-label>Choisissez une date</mat-label>
        <br />
        <input matInput #dateTimeValue type="datetime-local">
        <button (click)="send(dateTimeValue.value)">Valider</button>
    </div>
</div>
<div class="test">
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
           [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
           [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
</div>