<div class="background"></div>
<div class="div-general">
    <div class="div-datetime">
        <img height="100" src="../assets/Logo_T22_blanc_et_jaune.png"/>
        <h1 class="date">{{this.dateTime.slice(0,10)}} </h1>
        <h2 class="time">{{this.dateTime.slice(11)}} </h2>
    </div>
    <div class="div-form">
        <mat-label>Choisissez une date</mat-label>
        <br />
        <input matInput #dateTimeValue type="datetime-local">
        <button (click)="send(dateTimeValue.value)">Valider</button>
    </div>
</div>